*{
  font-family: helvetica;
  text-align: center;
}
div.menu{
  background-image: url(../images/the-flatiron-building.png);
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
a{
  font-size: 18px;
  color: white;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 23px;
}
p{
  font-size: 14px;
}
div.design{
  color: white;
  font-size: 23px;
  font-weight: bold;
  background-image: url(../images/the-flatiron-building.png);
}
div.footer{
  background-color: dimgray;
  text-align: left;
}
